@import "tailwindcss";

@theme {
    /* Light theme variables (default) */
    --color-primary: #6C63FF;
    --color-primary-dull: #5A52D5;
    --color-secondary: #FF6584;
    --color-secondary-dull: #E04E6A;
    --color-accent: #43E97B;
    --color-accent-dull: #32C463;
    --color-dark: #1A1A2E;
    --color-dark-dull: #12121F;
    --color-light-bg: #F8F7FF;
    --color-light-border: #E0DEFF;
    --color-text: #2D2D3A;
    --color-text-muted: #888799;
    --color-white: #FFFFFF;
    --color-gradient-from: #FFFFFF;
    --color-gradient-to: #F8F7FF;
}

.dark {
    --color-light-bg: #0F172A;
    --color-light-border: #334155;
    --color-text: #ffffff;
    --color-text-muted: #ffffff;
    --color-white: #0F172A;
    --color-gradient-from: #0F172A;
    --color-gradient-to: #111827;
}


/* Smooth transitions */
* {
    @apply transition-colors duration-200;
}


/* 
---------------------------------
-----------
Scrollbar Color
-----------
---------------------------------
*/
/* Target the entire document */
html::-webkit-scrollbar {
    width: 8px;
    /* Width of the vertical scrollbar */
    height: 8px;
    /* Height of the horizontal scrollbar */
}

/* Style the draggable thumb handle */
html::-webkit-scrollbar-thumb {
    background-color: #1c1672;
    border-radius: 9999px;
    /* Makes the edges round */
}

/* Optional: Style the scrollbar track background */
html::-webkit-scrollbar-track {
    background: transparent;
    /* Keeps the background clean */
}

/* Standard support for Firefox */
html {
    scrollbar-color: #1c1672 transparent;
    scrollbar-width: thin;
}


/* 
---------------------------------
-----------
Star Ratings
-----------
---------------------------------
*/
.star-rating {
    /* --rating-percent: 0%; */
    display: inline-block;
    font-size: 2rem;
    font-family: Times, serif;
    line-height: 1;
    width: fit-content;
    user-select: none;
}

.star-rating::after {
    content: "★★★★★";
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg,
            #6C63FF var(--rating-percent),
            #e0e0e0 var(--rating-percent));
}